parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	- App\Components\Forms\ITranslatorFormFactory
	- App\Model\Usecases\TranslateText
	- App\Model\Translator\PigLatinTranslator