<textarea name="translationText" id="translationText" cols="60" rows="15" placeholder="English text to translate"></textarea>
<textarea name="translatedText" id="translatedText" cols="60" rows="15" placeholder="Pig Latin translation"></textarea>